.container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 600px;

}

.chat {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;

}

.message_box {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;

}

.insert_box {
    position: absolute;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-top: 540px;
    background-color: palevioletred;

}

.current_message {
    position: absolute;

}

#input_msg {
    position: absolute;
    margin-top: 16px;
    margin-left: 10px;
    font-size: 15px;
    font-family: monospace;
    color: white;
    width: auto;

}

#input_box {
    position: absolute;
    top: 15px;
    left: 200px;
    width: 1;
    font-size: 15px;
    font-family: monospace;
    color: black;

}

#send_msg {
    position: absolute;
    top: 15px;
    left: 400px;
    width: 1;
    font-size: 15px;
    font-family: monospace;
    color: black;
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;

}

.inner_message {
    color: red;

}