* {
    font-family: monospace;
    margin-left: 0px;
    margin-top: 0px;
    color: grey;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    overflow-y: hidden;

}

.box {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 2%;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    border: 1px solid #ccc;

}

.left-side {
    flex: 30%;
    position: relative;
    border-right: 1px solid #ccc ;
    z-index: 100;
    height: 100%;
    overflow: hidden;

}

.right-side {
    flex: 70%;
    position: relative;
    z-index: 100;
    height: 100%;
    overflow: hidden;

}

.online_users {
    display: flex;
    flex-direction: column;
    height: 100%;    

}

.title_div {
    position: relative;
    flex: 5%;
}

.title_div span {
    display:table;
    margin:0 auto;
}

.user {
    position: relative;
    flex: 95%;
    overflow: auto;

}

.line_user {
    margin-left: 5%;

}

.line {
    width: 90%;
}

.line:not(:last-child) {
    margin-bottom: 20px;  
    border-bottom: 1px solid #ccc;

}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;    
}

.message_box {
    position: relative;
    flex: 90%;
    overflow: auto;
    z-index: 100;
}

.insert_box {
    position: relative;
    flex: 10%;
    width: 100%;
    z-index: 200;
}

.chat_line {
    overflow-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

#input_box {
    position: relative;
    width: 100%;
    resize: none;
}

.msg_wrapper {
    border: 1px solid #ccc;
    padding: 5px;

}

.left .msg_wrapper {
    text-align: left;
    width: 80%;

}

.right .msg_wrapper {
    text-align: right;
    width: 80%;

}

.left .msg_stamp {
    position: relative;
    margin-left: 15px;
    bottom: 0;
    left: 0;
    font-size: 10px;

}

.right .msg_stamp {
    position: relative;
    margin-left: 15px;
    bottom: 0;
    right: 0;
    font-size: 10px;
}

.right {
    margin-left: 7%;
}

.left {
    margin-left: 7%;
}

#go_to_bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 1%;
    padding-right: 5%;
    z-index: 1;
}

/* Aplicando efeitos no scroll para a div de usuários online */

.css_scroll::-webkit-scrollbar {
    width: 5px;
}

.css_scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

.css_scroll::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
}

.css_scroll::-webkit-scrollbar-thumb:hover {
    background: grey; 
}
